@import "tailwindcss";
html,
body {
  height: 100%;
  margin: 0;
  color: white; /* makes all text white */
  background: linear-gradient(135deg, #000000, #1a1a1a, #000000);
  background-attachment: fixed;
}